* {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    min-height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 1000;
    background-color: #444;
}

.bg_nav {
    width: 1270px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    margin: auto;
    z-index: 1000;

}

.header_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.a_fa-cubes,
.fa-bars,
.fa-search,
.fa-cart-shopping {
    margin-right: 10px;
    padding: 20px;
    color: #efefef;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
        background-color: #878787;
        transition: all 0.2s;
        border-radius: 100px;
    }
}

.a-fa-sign-in,
.a_fa-user-plus {
    border: 1px solid #efefef80;
    color: #efefef;
    font-size: 16px;
    margin: 0px 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 60px;

    &:hover {
        background-color: #878787;
        transition: all 0.2s;
    }
}

/* end header */
/* start main */
.section_1 {
    width: 100%;
    min-height: 250px;
    background-image: url(hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg);
    background-size: cover;
    background-position: center 48%;
    background-repeat: no-repeat;
    padding: 200px 0;
    display: block;
}

.sec_1_bg {
    width: 1260px;
    margin: auto;
}

.sec_1_p1 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto 35px;
}

.section_1 .sec_1 h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 60px;
}

.sec_2_p_1 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto 25px;
    text-align: center;
}

.sec_2_p_2 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto 25px;
    text-align: center;
    border: #222222 1px solid;
}

.input_1 {
    position: relative;
    text-align: center;

}

.input_1 input {
    width: 720px;
    min-height: 70px;
    position: absolute;
    right: 250px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.input_1 a {
    padding: 13px 22px;
    position: absolute;
    left: 300px;
    top: 40px;
    transform: translate(1%, -50%);
    background-color: #52b035;
    color: white;
    font-size: 18px;
    border-radius: 10px;

    &:hover {
        background-color: #2f8518;
    }
}

.sec_2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 445px;
    width: 585px;
    list-style: none;
    margin: 0px 245px;
    font-size: 14px;
}

.sec_2_p_2 {
    background-color: #ffffff;
    padding: 5px;
    border: #444 bold 1px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: #52b035;
    }
}

.sec_3 {
    min-height: 900px;
}

.sec_3 h1 {
    font-size: 30px;
    margin-top: 25px;
    line-height: 44px;
    color: #222222;
    text-align: center;
    padding: 80px 0px;
    background-blend-mode: hue;
}

.sec_3_imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;

}

.sec_3_imgs a {
    margin: 10px;
}

.sec_3_img_1 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_1 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_2 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_2 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_3 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_3 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 65px;
}

.sec_3_img_4 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_4 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_5 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_5 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: 65px;
    margin-right: 101px;
}

.sec_3_img_6 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_6 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_7 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_7 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_8 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_8 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_9 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_9 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 70px;
}

.sec_3_img_10 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_10 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 80px;
}

.sec_3_img_11 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_11 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 60px;
}

.sec_3_img_12 {
    filter: brightness(0.50);
    position: relative;
    z-index: 1;
}

.sec_3_h3_12 {
    font-size: 30px;
    font-weight: 350;
    color: white;
    position: absolute;
    z-index: 2;
    padding: 65px;
}

/* end section_3 */
/* start section_4 */

.sec_4 {
    min-height: 474px;
    width: 100%;
    background-color: #f1f1f1;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}

.sec_4_h1 {
    font-size: 30px;
    text-align: center;
    padding: 100px 30px 40px 30px;
}

.sec_4_1 {
    width: 1220px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec_4_1 a {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px;
    height: 35px;
    padding: 20px 25px;
    width: 235px;
    gap: 12px;
    color: #222222;
}

/* end section 4 */
/* stsrt section 5 */

.sec_5 {
    min-height: 430px;
    width: 1250px;
    margin: auto;
}

.sec_5_h1 {
    text-align: center;
    font-size: 35px;
    padding: 100px 50px 25px;
}

.sec_5_d1 {
    padding: 30px;
    height: 370px;
    display: flex;
    justify-content: space-between;
}

.sec_5_li,
.sec_5_h3 {
    padding-bottom: 40px;
    gap: 12px;
}

.fa-circle-check {
    color: #52b035;
}

iframe {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* end section 5 */
/* stsrt section 6 */

.sec_6 {
    width: 100%;
    background-color: #f1f1f1;
    min-height: 650px;
}

.bg_sec_6 {
    background-color: #f1f1f1;
    min-height: 650px;
    width: 1200px;
    margin: auto;
}

.sec_6_h1 {
    text-align: center;
    font-size: 35px;
    padding: 100px 50px 25px;
}

.sec_6_d1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

.sec_6_d1-1 {
    width: 350px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 25px;
}

.sec_6_d1-1-img {
    text-align: center;
    padding-bottom: 20px;
}

.sec_6_d1-1-h4 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.sec_6_d1-1-p {
    text-align: center;
    padding-bottom: 20px;
}

/* end section 6 */
/* stsrt section 7 */


.sec_7 {
    min-height: 500px;
}

.div_details {
    padding-bottom: 70px;
}

.sec_7 h3 {
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    padding: 100px 50px 25px;
}

details {
    margin: auto;
    width: 750px;
    padding-bottom: 20px;
}

details[open] summary~* {
    animation: open 0.3s ease-in-out;

}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

details summary::-webkit-details-marker {
    display: none;

}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;

}

details summary:after {
    content: "+";
    color: #222222;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    left: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;

}

details[open] summary {
    outline: 0;
    color: #52b035;
}

details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

.sec_7_a {
    color: #52b035;
}

/* end section 7 */
/* stsrt section 8 */

.sec_8 {
    height: 340px;
    background-color: #f1f1f1;
}

.sec_8_h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    padding: 90px 10px 60px;
}

.sec_8_d1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1050px;
    margin: auto;
}

.sec_8_a {
    padding: 14px 20px;
    margin: 0px 5px;
    background-color: white;
    color: #222222;
}

/* end section 8 */
/* stsrt section 9 */

.sec_9 {
    min-height: 330px;
    width: 1210px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.sec_9_ul_1,
.sec_9_ul_2 {
    list-style: none;
    padding: 30px 0px 10px 85px;
}

.sec_9_ul_1 h3,
.sec_9_ul_2 h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.sec_9_ul_1_li {
    font-size: 15px;
    margin-bottom: 20px;
}

.sec_9_ul_1_li a {
    color: #222222;
}

.sec_9_ul_2 li {
    padding-bottom: 50px;
}

.sec_9_ul_icons1_1 {
    fill: white;
    background-color: #3b5998;
    margin-left: 10px;
    padding: 7px;
}

.sec_9_ul_icons1_2 {
    fill: rgb(255, 255, 255);
    background-color: #55acee;
    padding: 7px;
}

.sec_9_ul_icons1_3 {
    fill: #878787;
}

/* end section 9 */
/* stsrt section 10 */
.sec_10 {
    min-height: 70px;
    background-color: #f1f1f1;

}

.sec_10_bg {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.sec_10_dv_1_a {
    margin-left: 20px;
    color: #222222;
}

/* end section 10 */
/* stsrt section 11 */

.sec_11 {
    min-height: 260px;

}

.bg_sec_11 {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.bg_sec_11_img {
    margin: auto;
    padding: 50px 50px 10px 50px;
}

.bg_sec_11_ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 80px;
}

.bg_sec_11_li {
    list-style: none;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 180px;
}